results*/
reports*/
plots*/

experiment/
experiments/
*_experiments/

rsi48_*/
5m_*/
15m_*/
1m_*/
1h_*/
30m_*/
timesfm*/
chronos_full_15m/
MASE*/
bolt*/
lightning_logs/
backtest*/
base*/
check*/

lag_llama/lag-llama.ckpt
data/
AutogluonModels/
autogluon_model/
signals/
*.csv
__pycache__/
tab_test/
ttm_check*/
wandb/
bot.log
*.egg-info/

